.App-main {
  display: grid;
  place-items: center;
  height: 100vh;
}
.App {
  display: flex;
  width: 408px;
  height: 408px;

  flex-wrap: wrap;
}

.App div {
  border: 1px solid;
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
}
