.main-class {
  display: grid;
  place-items: center;
}

.main-class > h1 {
  font-size: 40px;
  font-weight: 100;
}

.robo-user-main {
  height: 100px;
  width: 440px;
  border: 1px solid;
  margin: 5px;
  display: flex;
}

.robo-user-main img {
  height: 80px;
}

.robo-user-info {
  flex: 1;
  padding: 12px 5px;
}

.robo-user-name {
  font-size: 28px;
}

.robo-user-email {
  font-size: 20px;
}

.robo-remove-button {
  height: 100%;
  border: none;
  background-color: maroon;
  font-size: 40px;
  color: white;
  width: 60px;
}

.robo-reinstate-button {
  background-color: teal;
  height: 80px;
  width: 440px;
  border: none;
  color: white;
  font-size: 42px;
  margin-top: 5px;
}
